input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.deposite-container {
    padding-top: 30px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    text-align: center;
    min-height: 100vh;
}
.deposite-container >h1{
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: underline;
}

.form-container form input {
    outline: none;
    text-shadow: 2px 2px black;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 30vw;
    font-size: 2vw;
    margin-bottom: 10px;
}

.form-container {
    max-width: 60vw;
    border-radius: 20px;
    color: aliceblue;
    background: linear-gradient(to right bottom, rgba(165, 165, 165, 0.5), rgba(100, 100, 100, 0.5));
    box-shadow: 2px 2px white;
}

.form-container form h3 {
    color: white;
    font-size: 4vw;
    text-shadow: 2px 2px black;
}

.withdraw-container {
    max-width: 60vw;
    text-align: start;
    border-radius: 20px;
    margin-top: 20px;
    color: aliceblue;
    background: linear-gradient(to right bottom, rgba(165, 165, 165, 0.5), rgba(100, 100, 100, 0.5));
    box-shadow: 2px 2px white;
}

.withdraw-container span {
    text-transform: capitalize;
    font-size: 3vw;
    text-shadow: 2px 2px black;
}

.withdraw-container input {
    color: white;
    font-size: 2vw;
    width: 20vw;
    text-shadow: 2px 2px black;
    outline: none;
    border: none;
    border-radius: 10px;
    background: none;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.withdraw-container h2 {
    font-size: 2vw;
    text-shadow: 2px 2px black;
}

.depo-message {
    margin-top: 30px;
}

.depo-message h1 {
    color: white;
    font-size: 3vw;
    text-shadow: 2px 2px black;
    text-transform: capitalize;
}

.btnnx {
    padding: 0px 0px ;
    background: rgb(61, 61, 61);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);transition: all 0.5s;
    width: 10vw;
}
.btnnx:hover{
background-color: rgb(160, 123, 123);
}
@media only screen and (max-width: 850px) {
    .form-container , .withdraw-container{
        max-width: 90vw;
    }
  
}