.home {
    min-width: fit-content;
    background-color: rgb(53, 53, 53);
    position: relative;
    padding-top: 90px;
}

.home-contianer {
    min-height: 100vh;
    padding: 10px;
}

.content1 {
    position: relative;
    float: left;
    width: 70vw;
    height: 29vw;
    box-shadow: -2px -2px white;
    border-radius: 10px 60px 20px;
    background: linear-gradient(to bottom right, rgba(53, 53, 53, 0.6), rgba(153, 153, 153, 0.6));
}

.content2 {
    position: relative;
    float: right;
    width: 25vw;
    height: 29vw;
    box-shadow: -2px -2px white;
    border-radius: 10px 60px 20px;
    background: linear-gradient(to bottom right, rgba(53, 53, 53, 0.6), rgba(153, 153, 153, 0.6));
}

.btn {
    position: relative;
    top: 50px;
    border-radius: 0px 15px 15px 0px;
}

.shit {
    position: absolute;
    left: 10px;
    margin-top: 20%;
}

.home-heading {
    transform: scale(0.8);
    width: 30vw;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(182, 182, 182, 0.6);
    color: #f0f8ff;
    text-align: center;
    background: linear-gradient(to top right, rgba(53, 53, 53, 0.6), rgba(153, 153, 153, 0.6));
    font-size: 4vw;
}

.home-para {
    width: 400px;
    color: rgb(145, 145, 145);
    text-align: center;
    text-decoration: underline;
}

.heading-text {
    text-shadow: 2px 2px black;
    float: left;
    color: beige;
    padding-left: 5px;
    box-shadow: 2px 2px rgb(48, 48, 48);
    width: 50vw;
    height: 8vw;
    text-align: center;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    top: 10%;
    background: linear-gradient(to bottom right, rgba(31, 12, 12, 0.6), rgba(133, 133, 133, 0.6));
}

.heading-text h1 {
    font-size: 5vw;
    top: 30%;
}

.btn {
    box-shadow: 2px 2px rgba(201, 201, 201, 0.7);
}

.heading-text span {
    color: rgb(189, 189, 189);
    text-shadow: 2px 1px black;
    font-size: 1em;
}

.icon {
    color: white;
    width: 10vw;
    position: relative;
    left: 1%;
    top: 10vw;
    transform: translate(0%, 0%);
}

.home-link {
    width: 100%;
}

.shit ul {
    text-align: center;
    list-style: none;
}

.shit ul li {
    margin-bottom: 5px;
    transform: scale(0.6);
    box-shadow: 2px 2px 15px rgba(143, 143, 143, 0.6);
    background: linear-gradient(to top right, rgba(53, 53, 53, 0.6), rgba(153, 153, 153, 0.6));
    font-size: 1vw;
    transition: 0.7s all;
}

.shit ul li:hover {
    box-shadow: 2px 3px 25px rgba(43, 255, 0, 0.6);
}

.shit ul li {
    color: white;
    text-decoration: none;
    font-size: 2em;
}
.shit ul a{
    text-decoration: none;
}

@media only screen and (max-width: 736px) {
    .content1 {
        display: block;
        width: 90vw;
    }
    .content2 {
        display: block;
        width: 90vw;
    }
}